name: build binary

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: grab zig
        run: |
          curl -L https://ziglang.org/download/0.14.1/zig-x86_64-linux-0.14.1.tar.xz -o zig.tar.xz
          tar -xf zig.tar.xz
          mv zig-* zig

      - name: grab sstrip from ELFkickers
        run: |
          curl -L https://www.muppetlabs.com/~breadbox/pub/software/ELFkickers-3.2.tar.gz -o sstrip.tar.gz
          tar xf sstrip.tar.gz
          make -C ELFkickers-3.2 sstrip
          cp ELFkickers-3.2/sstrip/sstrip .

      - name: compile binary via zigcc
        run: |
          echo "arm, aarch64 and x86_64"
          pwd
          chmod +x sstrip
          
          PATH=$(pwd)/zig:$PATH
          
          cd src; make

          # wc -c binaries/prctl-*
          
          # upx --ultra-brute binaries/prctl-*
          
          # for file in binaries/*; do ./sstrip $file ; done
          
          wc -c bin/mm_*
          file bin/mm_*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: src/bin


